.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-control {
  display: flex;
}

.App-control > * {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.App-control .App-button {
  background-color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.App-messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.App-message {
  width: 100%;
  background: white;
  color: black;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kotakChat{
  padding: 20px;
  background-color: lightgray;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.mss{
  height: auto;
  width: auto;
  border-radius: 5px;
}

.room{
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 15px;
}

.btJoinRoom{
  background-color: white;
  font-weight: bold;
  cursor: pointer;

  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}